    <!--t.integer  "prefecture_id"-->
    <!--t.string   "title"-->
    <!--t.string   "description"-->
    <!--t.string   "image"-->

<div class="row">
  <div class="col-xs-6">
    <%= form_for(@content) do |f| %>
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, '説明' %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :prefecture_id, '都道府県' %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :image, '画像' %>
        <%= f.label :image %>
        <%= image_tag @content.image.thumb.url if @content.image? %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>

      <%= f.submit '投稿する', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>