<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>風景を都道府県別に</h1>
          <% if unless logged_in? %>
            <%= link_to 'SCENERY COLLECTIONを始める', signup_path, class: 'btn btn-primary btn-lg' %>
          <% end %>
          <% else %>
            <%= form_for(:search, url: root_path, html: { method: :get }) do |f| %>

　　　　　　　<div class="form-search">
                <%= f.collection_select :prefecture, @prefectures, :id, :name,
                { include_blank: '全国', selected: ( params[:search] ? params[:search][:prefecture] : '' ) },
                class: 'form-control' %>
              </div>

              <%= f.submit '検索', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'contents/contents', contents: @contents %>